<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/">Home</a></li>
		<li>
			<a href="#">About</a>
			<ul class="dl-submenu">
				<li>
					<img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
					<h4>{{ site.owner.name }}</h4>
					<p>{{ site.owner.bio }}</p>
				</li>
				<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">Learn More</span></a></li>
				{% if site.owner.email %}<li>
					<a href="mailto:{{ site.owner.email }}"><i class="fa fa-fw fa-envelope"></i> Email</a>
				</li>{% endif %}
				{% if site.owner.github %}<li>
					<a href="https://github.com/{{ site.owner.github }}"><i class="fa fa-fw fa-github"></i> GitHub</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
		<li>
			<a href="#">Posts</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">All Posts</a></li>
				<li><a href="{{ site.url }}/tags/">All Tags</a></li>
			</ul>
    </li>
    <li><a href="{{ site.url }}/ror/">RoR</a></li>
    <li><a href="{{ site.url }}/django/">Django</a></li>
    <li>
			<a href="#">Computer Science</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/network/">Network</a></li>
        <li><a href="{{ site.url }}/data_structure/">Data Structure</a></li>
        <li><a href="{{ site.url }}/algoritm/">Algorithm</a></li>
			</ul>
		</li>
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
