{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul class="inline-list">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn">Previous</a></li>
    {% else %}
      <li><span class="btn">Previous</span></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li><strong class="current-page">{{ page }}</strong></li>
      {% elsif page == 1 %}
       <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn">Next</a></li>
    {% else %}
      <li><span class="btn">Next</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}