<div class="social-share">
 <button class="goodshare" data-type="vk">Вконтакте <span data-counter="vk"></span></button>
 <button class="goodshare" data-type="fb">Facebook <span data-counter="fb"></span></button>
 <button class="goodshare" data-type="ok">Одноклассники <span data-counter="ok"></span></button>
 <button class="goodshare" data-type="mr">Мой Мир@Mail.Ru <span data-counter="mr"></span></button> 
 <button class="goodshare" data-type="gp">Google Plus <span data-counter="gp"></span></button>
 <button class="goodshare" data-type="tw">Twitter <span data-counter="tw"></span></button>
</div><!-- /.social-share -->
