---
layout: link-index
title: All Links
description: "An archive of links."
comments: false
image:
  feature: /site-theme/johnniac-1024w.jpg
  thumb: /site-theme/johnniac-200w.jpg
---

{% for link in site.links %}
    {% capture this_year %}{{ link.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ link.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <article>
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title"><a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_year }}-ref" class="year-heading">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}